*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.env.docker
venv/
ram_naam_jaap/venv/
ram_naam_jaap/ram_naam_jaap/venv/
ENV/
.idea/
.vscode/
*.sqlite3
media/
staticfiles/
ram_naam_jaap/logs/
.DS_Store
